{% extends "layoult.html" %}
{% block body %}

<div class="margin-top-110 ms-5 me-5 mb-5">
    <p class="fs-3 ms-4 mt-5 fw-bold text-center">
        Administración de servicios
    </p>
    <div class="table-responsive">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col" class="fs-4 vertical-align-middle">Servicios activos</th>
                    <th scope="col" class="fs-5 fw-lighter vertical-align-middle">Nombre</th>
                    <th scope="col" class="fs-5 fw-lighter vertical-align-middle">Grupo</th>
                    <th scope="col" class="fs-5 fw-lighter vertical-align-middle">Descripción</th>
                    <th scope="col" class="fs-5 fw-lighter vertical-align-middle">Costo</th>
                    <th scope="col" class="fs-5 fw-lighter vertical-align-middle"></th>
                    <th scope="col" class="fs-5 fw-lighter vertical-align-middle">
                        <button id="btnAgregar" class="btn btn-lg w-100 fs-6 botones rounded-pill vertical-align-middle"
                            type="button" onclick="toggleFormulario()">Agregar</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <form action="/agregar_servicio" method="post" enctype="multipart/form-data">
                    <tr id="formulario" style="display: none;">
                        <th scope="row" style="max-width: 150px;">
                            <img id="previewImage" src="/images/agg-image.png" alt="Imagen de servicio"
                                class="img-fluid rounded-pill mx-auto d-block mb-2"
                                style="max-width: 100%; max-height: 150px; object-fit: contain;">

                            <div class="input-group">
                                <input type="file" id="url_imagen" accept="image/*" onchange="mostrarImagen(this)">
                            </div>

                            {% if query.error_url_imagen %}
                            <div class="alert alert-warning mt-2 fw-normal" role="alert">
                                {{ query.error_url_imagen }}
                            </div>
                            {% endif %}
                        </th>
                        <td>
                            <input type="text" class="form-control" placeholder="Nombre del instrumento"
                                id="nombre_instrumento" name="nombre_instrumento" value="{{query.nombre_instrumento}}">
                            {% if query.error_nombre_instrumento %}
                            <div class="alert alert-warning mt-2" role="alert">
                                {{ query.error_nombre_instrumento }}
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Grupo" id="grupo" name="grupo"
                                value="{{query.grupo}}">
                            {% if query.error_grupo %}
                            <div class="alert alert-warning mt-2" role="alert">
                                {{ query.error_grupo }}
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Descripción" id="descripcion"
                                name="descripcion" value="{{query.descripcion}}">
                            {% if query.error_descripcion %}
                            <div class="alert alert-warning mt-2" role="alert">
                                {{ query.error_descripcion }}
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            <input type="number" class="form-control" placeholder="Costo" id="precio" name="precio"
                                min="0" step="0.01" value="{{query.precio}}">
                            {% if query.error_precio %}
                            <div class="alert alert-warning mt-2" role="alert">
                                {{ query.error_precio }}
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            <input class="btn btn-lg w-100 fs-6 botones rounded-pill" type="submit" id="guardar"
                                name="guardar" value="Guardar">
                        </td>
                        <td>
                            <button class="btn btn-lg w-100 fs-6 botones rounded-pill" type="button"
                                onclick="cancelarFormulario()" id="cancelar" name="cancelar">Cancelar</button>
                        </td>
                    </tr>
                </form>

                {% for servicio in serviciosActivos %}
                <form action="/editar_servicio" method="post">
                    <tr>
                        <th scope="row" style="max-width: 150px; text-align: center;">
                            <img src="/images/servicios/{{ servicio.url_imagen }}" alt="Imagen de servicio"
                                class="img-fluid rounded-pill mx-auto d-block"
                                style="max-width: 100%; max-height: 150px; object-fit: contain;">
                        </th>
                        <td class="vertical-align-middle">{{ servicio.nombre_instrumento }}</td>
                        <td class="vertical-align-middle">{{ servicio.grupo }}</td>
                        <td class="vertical-align-middle">{{ servicio.descripcion }}</td>
                        <td class="vertical-align-middle">${{ servicio.precio }}</td>
                        <td class="vertical-align-middle">
                            <input type="text" name="id" id="" value="{{servicio.id}}" style="display:none;">
                            <button class="btn btn-lg w-100 fs-6 botones rounded-pill" type="button">Editar</button>
                        </td>
                </form>
                <form action="/deshabilitar_servicio" method="post">
                    <td class="vertical-align-middle">
                        <input type="text" name="id" id="" value="{{servicio.id}}" style="display:none;">
                        <button class="btn btn-lg w-100 fs-6 botones rounded-pill" type="submit">Deshabilitar</button>
                    </td>
                </form>
                </tr>

                {% endfor %}

            </tbody>
        </table>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                if ('{{query.error_nombre_instrumento}}' != '' || '{{query.error_descripcion}}' != '' || '{{query.error_precio}}' != '' || '{{query.error_grupo}}' != '' || '{{query.error_url_imagen}}' != '') {
                    toggleFormulario();
                }
            });
            function toggleFormulario() {
                const formulario = document.getElementById('formulario');
                const btnAgregar = document.getElementById('btnAgregar');
                if (formulario.style.display === 'none' || formulario.style.display === '') {
                    formulario.style.display = 'table-row';
                    btnAgregar.style.display = 'none';
                } else {
                    formulario.style.display = 'none';
                    btnAgregar.style.display = 'block';
                }
            }

            function cancelarFormulario() {
                const formulario = document.getElementById('formulario');
                const btnAgregar = document.getElementById('btnAgregar');
                formulario.style.display = 'none';
                btnAgregar.style.display = 'block';
            }

            function mostrarImagen(input) {
                const preview = document.getElementById('previewImage');
                if (input.files && input.files[0]) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        preview.src = e.target.result;
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            function cancelarFormulario() {
                const formulario = document.getElementById('formulario');
                const btnAgregar = document.getElementById('btnAgregar');

                // Restablecer los valores de los campos de entrada a vacío
                const nombreInstrumentoInput = document.getElementById('nombre_instrumento');
                const grupoInput = document.getElementById('grupo');
                const descripcionInput = document.getElementById('descripcion');
                const precioInput = document.getElementById('precio');

                nombreInstrumentoInput.value = '';
                grupoInput.value = '';
                descripcionInput.value = '';
                precioInput.value = '';

                formulario.style.display = 'none';
                btnAgregar.style.display = 'block';
            }
        </script>
    </div>
</div>

<!--Servicios deshabilitados -->
{% if serviciosInactivos|length > 0 %}
<hr>
<div class="mt-5 ms-5 me-5">
    <div class="table-responsive">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col" class="fs-4">Servicios inactivos</th>
                    <th scope="col" class="fs-5 fw-lighter">Nombre</th>
                    <th scope="col" class="fs-5 fw-lighter">Grupo</th>
                    <th scope="col" class="fs-5 fw-lighter">Descripción</th>
                    <th scope="col" class="fs-5 fw-lighter">Costo</th>
                    <th scope="col" class="fs-5 fw-lighter"></th>

                </tr>
            </thead>
            <tbody>
                {% for servicio in serviciosInactivos %}
                <tr>
                    <th scope="row" style="max-width: 150px; text-align: center;">
                        <img src="/images/servicios/{{ servicio.url_imagen }}" alt="Imagen de servicio"
                            class="img-fluid rounded-pill mx-auto d-block"
                            style="max-width: 100%; max-height: 150px; object-fit: contain;">
                    </th>
                    <td style="vertical-align: middle;">{{ servicio.nombre_instrumento }}</td>
                    <td style="vertical-align: middle;">{{ servicio.grupo }}</td>
                    <td style="vertical-align: middle;">{{ servicio.descripcion }}</td>
                    <td style="vertical-align: middle;">${{ servicio.precio }}</td>

                    <td style="vertical-align: middle;">
                        <form action="/habilitar_servicio" method="post">
                            <input type="text" name="id" id="" value="{{servicio.id}}" style="display:none;">

                            <button type="submit" class="btn btn-lg w-100 fs-6 botones rounded-pill">Habilitar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="alert alert-warning mt-2 fw-normal me-5 ms-5 mt-5" role="alert">
    No hay servicios deshabilitados
</div>
{% endif %}
{% endblock %}