{% extends "layoult.html" %}
{% block body %}
<div class="margin-top-110 ms-5 me-5">
    <div class="table-responsive">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col" class="fs-4">Servicios activos</th>
                    <th scope="col" class="fs-5 fw-lighter">Nombre</th>
                    <th scope="col" class="fs-5 fw-lighter">Grupo</th>
                    <th scope="col" class="fs-5 fw-lighter">Descripción</th>
                    <th scope="col" class="fs-5 fw-lighter">Costo</th>
                    <th scope="col" class="fs-5 fw-lighter"></th>
                    <th scope="col" class="fs-5 fw-lighter">
                        <button id="btnAgregar" class="btn btn-lg w-100 fs-6 botones rounded-pill" type="button"
                            onclick="toggleFormulario()">Agregar</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in query %}
                <li>{{ key }}:{{value}} </li>
                {% endfor %}
                <form action="/agregar_servicio" method="post" enctype="multipart/form-data">
                    <tr id="formulario" style="display: none;">
                        <th scope="row" style="max-width: 150px;">
                            <img id="previewImage" src="/images/agg-image.png" alt="Imagen de servicio"
                                class="img-fluid" style="max-width: 70%; height: auto;">
                            <input type="file" id="inputImage" accept="image/*" onchange="mostrarImagen(this)"
                                itemid="url_imagen" name="url_imagen">
                        </th>
                        <td>
                            <input type="text" class="form-control" placeholder="Nombre del instrumento"
                                id="nombre_instrumento" name="nombre_instrumento">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Grupo" id="grupo" name="grupo">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Descripción" id="descripcion"
                                name="descripcion">
                        </td>
                        <td>
                            <input type="number" class="form-control" placeholder="Costo" id="precio" name="precio"
                                min="0" step="0.01">
                        </td>
                        <td>
                            <input class="btn btn-lg w-100 fs-6 botones rounded-pill" type="submit" id="guardar"
                                name="guardar" value="Guardar">
                        </td>
                        <td>
                            <button class="btn btn-lg w-100 fs-6 botones rounded-pill" type="button"
                                onclick="cancelarFormulario()" id="cancelar" name="cancelar">Cancelar</button>
                        </td>
                    </tr>
                </form>
                
                {% for servicio in serviciosActivos %}
                <form action="/editar_servicio" method="post">
                <tr>
                    <th scope="row" style="max-width: 150px; height: 150px; display: flex; align-items: center;"
                        class="d-flex flex-column justify-content-center">
                        <img src="/images/servicios/{{ servicio.url_imagen }}" alt="Imagen de servicio"
                            class="img-fluid rounded-pill"
                            style="max-width: 100%; max-height: 100%; object-fit: contain;">
                    </th>
                    <td style="vertical-align: middle;">{{ servicio.nombre_instrumento }}</td>
                    <td style="vertical-align: middle;">{{ servicio.grupo }}</td>
                    <td style="vertical-align: middle;">{{ servicio.descripcion }}</td>
                    <td style="vertical-align: middle;">${{ servicio.precio }}</td>
                    <td style="vertical-align: middle;">
                        <input type="text" name="id" id="" value="{{servicio.id}}" style="display:none;">
                        <button class="btn btn-lg w-100 fs-6 botones rounded-pill" type="button">Editar</button>
                    </td>
                    </form>
                    <form action="/deshabilitar_servicio" method="post">
                    <td style="vertical-align: middle;">
                        <input type="text" name="id" id="" value="{{servicio.id}}" style="display:none;">
                        <button class="btn btn-lg w-100 fs-6 botones rounded-pill" type="submit">Deshabilitar</button>
                    </td>
                    </form>
                </tr>

                {% endfor %}
                
            </tbody>
        </table>
        <script>
            function toggleFormulario() {
                const formulario = document.getElementById('formulario');
                const btnAgregar = document.getElementById('btnAgregar');
                if (formulario.style.display === 'none' || formulario.style.display === '') {
                    formulario.style.display = 'table-row';
                    btnAgregar.style.display = 'none';
                } else {
                    formulario.style.display = 'none';
                    btnAgregar.style.display = 'block';
                }
            }
            function cancelarFormulario() {
                const formulario = document.getElementById('formulario');
                const btnAgregar = document.getElementById('btnAgregar');
                formulario.style.display = 'none';
                btnAgregar.style.display = 'block';
            }
            
            function mostrarImagen(input) {
                const preview = document.getElementById('previewImage');
                if (input.files && input.files[0]) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        preview.src = e.target.result;
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
    </div>
</div>

<!--Servicios deshabilitados -->
<div class="margin-top-110 ms-5 me-5">
    <div class="table-responsive">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col" class="fs-4">Servicios inactivos</th>
                    <th scope="col" class="fs-5 fw-lighter">Nombre</th>
                    <th scope="col" class="fs-5 fw-lighter">Grupo</th>
                    <th scope="col" class="fs-5 fw-lighter">Descripción</th>
                    <th scope="col" class="fs-5 fw-lighter">Costo</th>
                    <th scope="col" class="fs-5 fw-lighter"></th>
                    
                </tr>
            </thead>
            <tbody>
                
                <form action="/agregar_servicio" method="post" enctype="multipart/form-data">
                    <tr id="formulario" style="display: none;">
                        <th scope="row" style="max-width: 150px;">
                            <img id="previewImage" src="/images/agg-image.png" alt="Imagen de servicio"
                                class="img-fluid" style="max-width: 70%; height: auto;">
                            <input type="file" id="inputImage" accept="image/*" onchange="mostrarImagen(this)"
                                itemid="url_imagen" name="url_imagen">
                        </th>
                        <td>
                            <input type="text" class="form-control" placeholder="Nombre del instrumento"
                                id="nombre_instrumento" name="nombre_instrumento">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Grupo" id="grupo" name="grupo">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Descripción" id="descripcion"
                                name="descripcion">
                        </td>
                        <td>
                            <input type="number" class="form-control" placeholder="Costo" id="precio" name="precio"
                                min="0" step="0.01">
                        </td>
                        <td>
                            <input class="btn btn-lg w-100 fs-6 botones rounded-pill" type="submit" id="guardar"
                                name="guardar" value="Guardar">
                        </td>
                        <td>
                            <button class="btn btn-lg w-100 fs-6 botones rounded-pill" type="button"
                                onclick="cancelarFormulario()" id="cancelar" name="cancelar">Cancelar</button>
                        </td>
                    </tr>
                </form>
                
                {% for servicio in serviciosInactivos %}
                <tr>
                    <th scope="row" style="max-width: 150px; height: 150px; display: flex; align-items: center;"
                        class="d-flex flex-column justify-content-center">
                        <img src="/images/servicios/{{ servicio.url_imagen }}" alt="Imagen de servicio"
                            class="img-fluid rounded-pill"
                            style="max-width: 100%; max-height: 100%; object-fit: contain;">
                    </th>
                    <td style="vertical-align: middle;">{{ servicio.nombre_instrumento }}</td>
                    <td style="vertical-align: middle;">{{ servicio.grupo }}</td>
                    <td style="vertical-align: middle;">{{ servicio.descripcion }}</td>
                    <td style="vertical-align: middle;">${{ servicio.precio }}</td>
                    
                    <td style="vertical-align: middle;">
                        <form action="/habilitar_servicio" method="post">
                        <input type="text" name="id" id="" value="{{servicio.id}}" style="display:none;">

                        <button type="submit" class="btn btn-lg w-100 fs-6 botones rounded-pill" >Habilitar</button>
                    </form>
                    </td>
                </tr>

                {% endfor %}
                
            </tbody>
        </table>
      
    </div>
</div>
{% endblock %}
