{% extends "layout.html" %}
{% block body %}
<div class="margin-top-110">
  <h1 class="text-center"></h1>
  <section>
    <div class="container">
      <div class="accordion" id="accordionExample">
        <div class="steps" id="pasos-agendar">
          <progress id="progress" value=0 max=100></progress>
          <div class="step-item" id="step-1">
            <button class="step-button text-center" type="button" data-target="#content-1" id="btn-step-1">
              1
            </button>
            <div class="step-title" id="title-step-1">
              Agendar
            </div>
          </div>
          <div class="step-item" id="step-2">
            <button class="step-button text-center collapsed" type="button" data-target="#content-2" id="btn-step-2"
              disabled>
              2
            </button>
            <div class="step-title" id="title-step-2">
              Pagar
            </div>
          </div>
          <div class="step-item" id="step-3">
            <button class="step-button text-center collapsed" type="button" data-target="#content-3" id="btn-step-3"
              disabled>
              3
            </button>
            <div class="step-title" id="title-step-3">
              Confirmar
            </div>
          </div>
        </div>
        <div class="card">
          <div id="content-1" class="step-content active" data-parent="#accordionExample">
            <div class="container d-flex justify-content-center align-items-center">
              <div class="col-md-6 right-box">
                <form id="agendar_cita_formulario" class="needs-validation" novalidate>
                  <div class="row align-items-center justify-content-between">
                    <div id="agendar_cita" class="header-text mb-4 text-center">
                      <h2 id="title-agendar-cita">Agendar Cita</h2>
                    </div>

                    <div class="input-group mb-3">
                      <select class="form-select form-control-lg" aria-label="Default select example" id="id_servicio"
                        name="id_servicio" disabled>
                        <option selected value="{{ servicio.id }}">{{servicio.descripcion}}</option>
                      </select>
                    </div>
                    <div class="input-group mb-3">
                      <div class="form-floating" id="input-fecha">
                        <input type="text" class="form-control form-control-lg fs-6" placeholder="Fecha" id="fecha"
                          name="fecha" required autocomplete="off" onChange="validarFechaHora()" >
                        <label for="fecha">Fecha</label>
                        <div id="invalid-feedback-fecha" class="invalid-feedback">
                          Por favor ingresa una fecha.
                        </div>
                      </div>

                      <div class="form-floating ms-3" id="input-hora">
                        <input type="time" class="form-control form-control-lg fs-6" placeholder="Hora" name="hora"
                          id="hora" value="" onChange="validarFechaHora()" required>
                        <label for="hora">Hora</label>
                        <div id="invalid-feedback-hora" class="invalid-feedback">
                          Por favor ingresa una hora.
                        </div>
                      </div>
                    </div>
                    <div class="mb-3" >
                      <div id="invalid-feedback-fecha-hora" class="invalid-feedback">
                          
                        </div>
                    </div>
                    {% if servicio.precio_cuerdas  %}
                    
                    <div class="input-group mb-3">
                      <div class="form-check" id="checkbox-cuerdas">
                        <label class="form-check-label" for="checkbox-cuerdas">
                          Incluir cuerdas
                        </label>
                        <input class="form-check-input" type="checkbox" onChange="togglePrecioCuerdas()"  value="true" id="incluye_cuerdas"
                          name="incluye_cuerdas">
                      </div>
                    </div>
                    {% endif %}
                    <div class="mb-3">
                      <div class="form-floating">
                        <textarea class="form-control" id="validationCustom02" placeholder="Leave a comment here"
                          id="descripcion" name="descripcion" required></textarea>
                        <label for="validationCustom02">Escribe su problema...</label>
                        <div  class="invalid-feedback">
                          Por favor ingresa un mensaje en el área de texto.
                        </div>
                      </div>
                    </div>

                    <div class="input-group mb-1">
                      <p class="text-xl-start" id="NombreInstrumento">Nombre del instrumento:
                        {{servicio.nombre_instrumento}}</p>
                    </div>
                    <div class="input-group mb-1">
                      <p class="text-xl-start" id="GrupoInstrumento">Grupo del instrumento: {{servicio.grupo}}
                      </p>
                    </div>
                    <div class="input-group mb-1">
                      <p class="text-xl-start" id="DescripcionServicio">Descripción del servicio:
                        {{servicio.descripcion}}</p>
                    </div>
                    <div class="input-group mb-1">
                      <p class="text-xl-start" id="AnticipoServicio">Anticipo:
                       <div id="ValorAnticipoServicio"> ${{servicio.precio_anticipo_cita}}</div></p>
                    </div>
                    <div  class="input-group mb-1">
                      <p class="text-xl-start d-none" id="PrecioCuerdas">Precio de cuerdas:
                        <span id="ValorPrecioCuerdas">${{servicio.precio_cuerdas}}</span></p>
                    </div>
                    <div class="input-group mb-1">
                      <p class="text-xl-start" id="PagoCompleto">
                        Pago total de anticipo: <span id="totalAmount">${{servicio.precio_anticipo_cita}}</span>
                      </p>
                    </div>
                    <div class="input-group mb-1">
                      <button id="agendar-cita-btn" class="btn btn-lg w-100 fs-6 fw-bold botones"
                        type="submit">Agendar</button>
                    </div>
                  </div>
                </form>
              </div>
              <div
                class="col-md-6 rounded-4 d-none d-md-block d-flex justify-content-center align-items-center flex-column right-box">
                <img src="/images/resend_verification_token_img.webp" width="100%" height="100%"
                  class="right-box d-flex flex-column" id="ImageAgendarCita">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>

  function horaValida(){
    var inputHora = document.getElementById('hora');
    var hora = inputHora.value; // obtiene el valor del input

    // Convertimos la hora y los minutos a números para poder comparar
    var partesHora = hora.split(':');
    var horas = parseInt(partesHora[0], 10);
    var minutos = parseInt(partesHora[1], 10);

    // Definimos las horas y minutos de los límites
    var horaInicio = 9; // 9:00 AM
    var minutoInicio = 0;
    var horaFin = 17; // 5:40 PM
    var minutoFin = 40;

    // Comparamos las horas y minutos con los límites
    var esValido = (horas > horaInicio || (horas === horaInicio && minutos >= minutoInicio)) && 
                  (horas < horaFin || (horas === horaFin && minutos <= minutoFin));

    if (esValido) {
      inputHora.classList.remove('is-invalid');
      inputHora.classList.add('is-valid');
      document.getElementById('invalid-feedback-hora').classList.remove('d-block');
      return true;
    }else{
      inputHora.classList.remove('is-valid');
      inputHora.classList.remove('was-validated');
      inputHora.classList.add('is-invalid');
      document.getElementById('invalid-feedback-hora').classList.add('d-block');
      document.getElementById('invalid-feedback-hora').innerText = "Por favor ingresa una hora entre las 9:00 AM y las 5:40 PM";
      return false;
    }
  
    
  }

  function fechaValida(){
    const inputDia = document.getElementById('fecha');
    const fecha = inputDia.value;

     if (fecha === ""){
      console.log("fecha invalida");
      inputDia.classList.remove('is-valid');
      inputDia.classList.add('is-invalid');
      document.getElementById('invalid-feedback-fecha').classList.add('d-block');
      document.getElementById('invalid-feedback-fecha').innerText = "Por favor ingresa una fecha";
      return false;
     }else{
      inputDia.classList.remove('is-invalid');
      inputDia.classList.add('is-valid');
      document.getElementById('invalid-feedback-fecha').classList.remove('d-block');

      return true;
     }
  
  
  }

  function validarFechaHora(){

    let horaEsValida = horaValida();  
    let fechaEsValida = fechaValida();

    if (horaEsValida && fechaEsValida){
      const fecha = document.getElementById('fecha').value;
      const hora = document.getElementById('hora').value;
      const formData = new FormData();
      formData.append('fecha', fecha);
      formData.append('hora', hora);

      fetch('/citas/checar-disponibilidad-fecha', {
        method: 'POST',
        mode: 'cors',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(Object.fromEntries(formData.entries())),
      })
        .then(response => {
          if(response.ok){
           return response.json();
          }else{
  
           throw new Error("Error en la llamada Ajax");
          }
        
        
        })
        
        .then(data => {
          if(!data.disponible){
            
            document.getElementById('invalid-feedback-fecha-hora').innerText = data.mensaje;
            document.getElementById('invalid-feedback-fecha-hora').classList.add('d-block');
          }else{
           

          

            document.getElementById('invalid-feedback-fecha-hora').classList.remove('d-block');
          }

          console.log('Respuesta del servidor:', data);

          console.log(data.disponible);
          console.log(data.error);
          console.log(data.mensaje);
        })
        .catch(error => {
          console.error('Error:', error);
        });



      
    }else{
      console.log("fecha o hora invalida");
      return false;
    }
  
  
  }

  function togglePrecioCuerdas() {
    const checkboxCuerdas = document.getElementById('incluye_cuerdas');
    const precioCuerdas = document.getElementById('PrecioCuerdas');
    const precioCuerdasValue = parseFloat(document.getElementById('ValorPrecioCuerdas').innerText.replace('$', '').replace(',', ''));
    const anticipoServicioValue = parseFloat(document.getElementById('ValorAnticipoServicio').innerText.replace('$', '').replace(',', ''));
    const totalAmount = document.getElementById('totalAmount');
    console.log("precioCuerdasValue: "+precioCuerdasValue);
    console.log("anticipoServicioValue: "+anticipoServicioValue);
    let totalAmountValue = precioCuerdasValue + anticipoServicioValue;
    console.log("totalAmountValue: "+totalAmountValue);

    if (checkboxCuerdas.checked) {
      precioCuerdas.classList.remove('d-none');
      totalAmount.innerText = `$${totalAmountValue.toFixed(2)}`;
    } else {
      precioCuerdas.classList.add('d-none');
      totalAmount.innerText = `$${anticipoServicioValue.toFixed(2)}`;
    }

  }

  var dateToday = new Date();
  $("#fecha").datepicker({
    beforeShowDay: $.datepicker.noWeekends,
    changeMonth: true,
    minDate: dateToday,
    defaultDate: '',
    altFormat: "yy-mm-dd",
    altField: "#fecha"
  });

  (function () {
    'use strict';
    var forms = document.querySelectorAll('.needs-validation');

    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        }, false);
      });
  })();
  const formularioDisponibilidad = document.getElementById(
    'formulario-checar-disponibilidad'
  );
  const inputDia = document.getElementById('fecha');
  const inputHora = document.getElementById('hora');

  const parrafoMensaje = document.getElementById('mensaje');

  const agendarCitaBtn = document.getElementById('agendar-cita-btn');
  const diaActual = new Date();

  inputDia.min = `${diaActual.getFullYear()}-${diaActual.getMonth() + 1
    }-${diaActual.getDate()}`;

  inputHora.value = `${diaActual.getHours()}:${diaActual.getMinutes()}:00`;

  const stepButtons = document.querySelectorAll('.step-button');
  const progress = document.querySelector('#progress');
  const stepContent = document.querySelectorAll('.step-content');

  stepButtons[0].setAttribute('aria-expanded', 'true');
  stepButtons[0].classList.add('done');

  progress.setAttribute('value', 0);

  Array.from(stepButtons).forEach((button, index) => {
    button.addEventListener('click', () => {
      stepButtons.forEach((btn, btnIndex) => {
        btn.setAttribute('aria-expanded', index === btnIndex ? 'true' : 'false');
      });

      progress.setAttribute('value', index * 100 / (stepButtons.length - 1));

      stepContent.forEach(item => {
        item.classList.remove('active');
      });

      stepContent[index].classList.add('active');

      stepButtons.forEach((item, secindex) => {
        if (index > secindex) {
          item.classList.add('done');
        } else {
          item.classList.remove('done');
        }
      });
    });
  });
  const horaInput = document.getElementById('hora');

  horaInput.addEventListener('input', (e) => {
    const horaIngresada = e.target.value;
    const horaDividida = horaIngresada.split(':');

    if (horaDividida.length === 2) {
      let horas = parseInt(horaDividida[0]);
      let minutos = parseInt(horaDividida[1]);

      minutos = Math.round(minutos / 20) * 20;

      if (minutos === 60) {
        minutos = 0;
        horas += 1;
      }

      if (horas < 0) {
        horas = 0;
      } else if (horas > 23) {
        horas = 23;
      }

      const horaAjustada = `${horas.toString().padStart(2, '0')}:${minutos.toString().padStart(2, '0')}`;

      e.target.value = horaAjustada;
    }
  });
  //Mandar informacion de form de agendar_cita
  document.getElementById('agendar_cita_formulario').addEventListener('submit', function (e) {
   
    console.log("fecha y hora son validas y se procede a agendar cita");
    e.preventDefault();
    
    const formData = new FormData(this);

    const checkboxCuerdas = document.getElementById('incluye_cuerdas');
    if (checkboxCuerdas) {
      formData.append('incluye_cuerdas', checkboxCuerdas.checked ? true : false);
    }

    const servicioSelect = document.getElementById('id_servicio');
    formData.append('id_servicio', servicioSelect.value)

    fetch('/citas/agendar-cita', {
      method: 'POST',
      mode: 'cors',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(Object.fromEntries(formData.entries())),
    })
      .then(response => response.json())
      .then(data => {
        console.log('Respuesta del servidor:', data);

        if (data.error) {
          console.log(data.error);
          return;
        }

        const linkPago = data.link;
        console.log(linkPago);
        location.href = linkPago;

      })
      .catch(error => {
        console.error('Error:', error);
      });
  });

  document.getElementById('metodo_pago').addEventListener('submit', function (e) {
    e.preventDefault();
    const formData = new FormData(this);

    var errorMessageElement = document.getElementById('error-message');
    fetch('/citas/agendar-cita', {
      method: 'POST',
      body: formData,
    })
      .then(response => response.json())
      .then(data => {
        console.log('Respuesta del servidor:', data);
      })
      .catch(error => {
        console.error('Error:', error);

      });
  });
</script>
{% endblock %}