{% extends "layoult.html" %}
{% block body %}
<!-- es el tamaño del navbar, se pone el div para no tapar parte del diseño por el navbar -->
<div class="margin-top-110">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row p-3 bg-white shadow box-area mt-5">
            <div class="col-md-6 rounded-4 d-none d-md-block d-flex justify-content-center align-items-center flex-column left-box">
                <img src="/public/images/confirmacioncorreoimg.jpg" width="100%" height="100%" class="left-box d-flex flex-column">
            </div>
            <div class="col-md-6 right-box">
                <div class="row align-items-center justify-content-between">
                    <div class="header-text mb-4 text-center">
                        <h2>Cambiar contraseña</h2>
                    </div>
                    <form method="POST" action="/change-password" id="change-password-form">
                        <div class="form-group">
                            <label for="contrasenia">Nueva Contraseña:</label>
                            <input type="password" name="contrasenia" id="contrasenia" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmar_contrasenia">Confirmar Contraseña:</label>
                            <input type="password" name="confirmar_contrasenia" id="confirmar_contrasenia" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                        </div>
                    </form>
                    <div id="error-message" class="alert alert-danger" style="display: none;">
                        <p>Las contraseñas no coinciden. Por favor, inténtalo de nuevo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}