{% extends "layout.html" %}
{% block body %}
<!-- es el tamaño del navbar, se pone el div para no tapar parte del diseño por el navbar -->
<div class="margin-top-110">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row p-3 bg-white shadow box-area mt-5">
            <div
                class="col-md-6 rounded-4 d-none d-md-block d-flex justify-content-center align-items-center flex-column left-box">
                <img src="/images/change-password.webp" width="100%" height="100%" class="left-box d-flex flex-column">
            </div>
            <div class="col-md-6 right-box">
                <div class="row align-items-center justify-content-between">
                    <div id="cambiarcontra" class="header-text mb-4 text-center">
                        <h2>Cambiar contraseña</h2>
                    </div>
                    <form method="POST" action="/change-password" id="change-password-form">
                        <div class="form-group mb-3">
                            <input type="password" name="contrasenia" id="contrasenia" class="form-control"
                                class="form-control form-control-lg bg-light fs-6" placeholder="Nueva contraseña"
                                value="{{ datos_ingresados.contrasenia }}">
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirmar_contrasenia" id="confirmar_contrasenia"
                                class="form-control" class="form-control form-control-lg bg-light fs-6"
                                placeholder="Confirmar contraseña" value="{{ datos_ingresados.confirmar_contrasenia }}">
                        </div>
                        <input type="text" name="token" value="{{token}}" style="display:none;">
                        <div class="input-group mt-5">
                            <input id="confirmacionContrasenia" type="submit" value="¡Listo!" class="btn btn-lg w-100 fs-6 fw-bold botones rounded-pill">
                        </div>
                    </form>
                    {% if errores.general %}
                    <div class="alert alert-danger" role="alert">
                        {{ errores.general }}
                    </div>
                    {% endif %}
                    {% if errores.contrasenia %}
                    <div class="alert alert-danger" role="alert">
                        {{ errores.contrasenia }}
                    </div>
                    {% endif %}
                    {% if errores.confirmar_contrasenia %}
                    <div class="alert alert-danger" role="alert">
                        {{ errores.confirmar_contrasenia }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}