{% extends "layout.html" %}
{% block body %}

<div class="margin-top-110">
  <div class="d-flex align-items-center justify-content-center">
    <div class="col-lg-8 mx-auto">  
      <div class="border border-2">
        <div class="container-fluid">
          <p class="fs-3 mt-5 mb-5 fw-bold text-center">
            Detalles de la cita
          </p>
          <div class="row">
            <div class="col-md-7">
              <div class="mb-4">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td class="bg-transparent">Nombre del instrumento</td>
                      <td class="line-placeholder border-bottom bg-transparent">{{ informacion_cita.nombre_instrumento
                        }}</td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Descripción del servicio</td>
                      <td class="line-placeholder border-bottom bg-transparent">{{ informacion_cita.descripcion_servicio
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Fecha y hora</td>
                      <td class="line-placeholder border-bottom bg-transparent">{{ informacion_cita.fecha }}, {{
                        informacion_cita.hora }}</td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Anticipo</td>
                      <td class="line-placeholder border-bottom bg-transparent">${{ informacion_cita.anticipo_total }}
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Estado</td>
                      <td class="line-placeholder border-bottom bg-transparent"><span id="estado-cita">{{
                          informacion_cita.estado }}</span></td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Incluye cuerdas</td>
                      <td class="line-placeholder border-bottom bg-transparent">
                        <div class="form-check">
                          {% if informacion_cita.incluye_cuerdas %}
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked
                            disabled>
                          {% else %}
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled"
                            disabled>
                          {% endif %}
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Costo total</td>
                      <td class="line-placeholder border-bottom bg-transparent">${{ informacion_cita.costo_total }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            {% if informacion_cita.notas_admin %}
            <div class="col-md-4">
              <div id="metodo_de_pago" class="mb-1 fs-6">
                Notas hechas por el administrador
              </div>
              <div class="form-floating">
                <textarea class="form-control" style="height: 250px"
                  disabled>{{ informacion_cita.notas_admin }}</textarea>
              </div>
            </div>
            {% else %}
            <div class="col-md-4">
              <div id="metodo_de_pago" class="mb-1 fs-6">
                Notas hechas mí
              </div>
              <div class="form-floating">
                <textarea class="form-control" style="height: 250px"
                  disabled>{{ informacion_cita.nota_cliente }}</textarea>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="d-flex" style="justify-content: end;">
            <form id="cancelar-cita-form" action="/citas/{{ informacion_cita.id_cita }}/cancelar" {% if not
              comportamiento_cita.es_cancelable %} style="display: none;" {% endif %}>
              <button class="btn btn-lg w-100 fs-6 botones mb-3" type="submit">Cancelar cita</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const cancelarCitaForm = document.getElementById('cancelar-cita-form');

  cancelarCitaForm.addEventListener('submit', async (e) => {
    e.preventDefault();
    const confirmacion = confirm('¿Cancelar cita?');
    if (!confirmacion) return;
    const url = cancelarCitaForm.getAttribute('action');
    const { error, mensaje } = await cancelarCita(url);

    if (error) {
      alert(error);
    } else {
      // alert(mensaje);
      // recarga pagina
      location.reload();
    }
  });

  async function cancelarCita(url) {
    try {
      const response = await fetch(url, {
        method: 'PATCH',
        mode: 'cors',
      });

      const data = await response.json();

      return data;
    } catch (error) {
      console.log('error:', error);
      return {
        error: `Error al cancelar cita, ${error.message}`,
        mensaje: null,
      };
    }
  }
</script>
{% endblock %}