{% extends "layout.html" %} {% block body %}
<div class="margin-top-110">
  {# Cuando la cita no ya ha sido terminada o cancelada, mostrar #}
  <!---->
  {% if detalles_cita.id_estado != 3 and detalles_cita.id_estado != 4 %}
  <form
    id="cancelar-cita-form"
    action="/citas/{{ detalles_cita.id_cita }}/cancelar"
  >
    <button type="submit">Cancelar cita</button>
  </form>
  {% else %}
  <form
    id="cancelar-cita-form"
    action="/citas/{{ detalles_cita.id_cita }}/cancelar"
    style="display: none"
  >
    <button type="submit">Cancelar cita</button>
  </form>
  {% endif %}
  <p>Fecha: {{ detalles_cita.fecha }}</p>
  <p>Hora: {{ detalles_cita.hora }}</p>
  <p>
    Estado de la cita: <span id="estado-cita">{{ detalles_cita.estado }}</span>
  </p>
  <p>Incluye cuerdas: {{ "Si" if detalles_cita.incluye_cuerdas else "No" }}</p>
  <p>Costo total: ${{ detalles_cita.costo_total }}</p>
  <p>Anticipo pagado: ${{ detalles_cita.anticipo_total }}</p>
  <p>Nota del cliente: {{ detalles_cita.nota_cliente }}</p>
  <p>Nombre del instrumento: {{ detalles_cita.nombre_instrumento }}</p>
  <p>Grupo del instrumento: {{ detalles_cita.grupo }}</p>
  <p>Descripcion del servicio: {{ detalles_cita.descripcion_servicio }}</p>
  <img src="/images/servicios/{{ detalles_cita.url_imagen }}" />
</div>
<script src="/js/detallesCita/cita.js"></script>
{% endblock %}
