{% extends "layout.html" %}
{% block body %}

<div class="margin-top-110">
  <div class="container">
    <form id="actualizar-detalles-cita-form" action="/citas/{{ informacion_cita.id_cita }}">
      <div class="col-sm-8 mx-auto">
        <p class="fs-3 mt-4 mb-1 fw-bold text-center">
          Detalles de la cita
        </p>
        <div class="container-fluid d-flex flex-column flex-sm-row align-items-center justify-content-center">
          <div class="col-md-10 right-box">
            <div id="metodo_de_pago" class="mb-3 fs-6 fw-bold">
              Información del cliente
            </div>
            <div class="border rounded">
              <div class="row align-items-center justify-content-between mb-3 ms-3 mt-3 me-3">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td class="bg-transparent">Nombre del cliente</td>
                      <td class="line-placeholder border-bottom bg-transparent vertical-align-bottom">{{
                        informacion_cliente.nombre}} {{
                        informacion_cliente.apellidos}}</td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Correo</td>
                      <td class="line-placeholder border-bottom bg-transparent vertical-align-bottom">{{
                        informacion_cliente.email }}</td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Número celular</td>
                      <td class="line-placeholder border-bottom bg-transparent vertical-align-bottom">{{
                        informacion_cliente.numero_telefono }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="metodo_de_pago" class="mb-3 fs-6 fw-bold mt-5">
              Información del instrumento
            </div>
            <div class="border rounded">
              <div class="row align-items-center justify-content-between mb-3 ms-3 mt-3 me-3">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td class="bg-transparent">Nombre del instrumento</td>
                      <td class="line-placeholder border-bottom bg-transparent">{{
                        informacion_instrumento.nombre_instrumento}}</td>
                    </tr>
                    <tr>
                      <td class="bg-transparent vertical-align-middle">Marca</td>
                      <td class="line-placeholder bg-transparent">
                        <div class="form-floating mb-3">
                          <input type="text" name="marca" id="marca" class="form-control" placeholder="Ingresa marca..."
                            value="{{ informacion_instrumento.marca}}">
                          <label for="marca">Ingresa marca...</label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-transparent vertical-align-middle">Modelo</td>
                      <td class="line-placeholder bg-transparent">
                        <div class="form-floating mb-3">
                          <input type="text" name="modelo" id="modelo" class="form-control"
                            placeholder="Ingresa modelo..." value="{{ informacion_instrumento.modelo }}">
                          <label for="modelo">Ingresa modelo...</label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-transparent vertical-align-middle">Número de serie</td>
                      <td class="line-placeholder bg-transparent">
                        <div class="form-floating mb-3">
                          <input type="text" name="numero_serie" id="numero_serie" class="form-control"
                            placeholder="Ingresa número de serie..." value="{{ informacion_instrumento.numero_serie }}">
                          <label for="numero_serie">Ingresa serie...</label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-10 right-box">
            <div id="metodo_de_pago" class="mb-3 fs-6 fw-bold">
              Información de la cita
            </div>
            <div class="border rounded">
              <div class="row align-items-center justify-content-between mb-3 ms-3 mt-3 me-3">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td class="bg-transparent">Número de cita</td>
                      <td class="line-placeholder border-bottom bg-transparent">{{ informacion_cita.id_cita
                        }}</td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Descripción del servicio</td>
                      <td class="line-placeholder border-bottom bg-transparent">{{
                        informacion_cita.descripcion_servicio
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Fecha y hora</td>
                      <td class="line-placeholder border-bottom bg-transparent">{{ informacion_cita.fecha }}, {{
                        informacion_cita.hora }}</td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Estado de la cita</td>
                      {% if informacion_cita.estado === 'Cancelada' %}
                      <td class="line-placeholder border-bottom bg-transparent" style="color: red;">{{
                        informacion_cita.estado }}</td>
                      {% else %}
                      <td class="line-placeholder bg-transparent">
                        <select class="form-select" id="seleccionador-estado" name="nuevo_estado_cita" {% if not
                          comportamiento_cita.es_posible_cambiar_estado %} disabled {% endif %}>
                          <option value="1" {% if informacion_cita.id_estado==1 %} selected {% endif %}>
                            Próxima
                          </option>
                          <option value="2" {% if informacion_cita.id_estado==2 %} selected {% endif %}>
                            En progreso
                          </option>
                          <option value="3" {% if informacion_cita.id_estado==3 %} selected {% endif %}>
                            Terminada
                          </option>
                        </select>
                      </td>
                      {% endif %}
                    </tr>
                    <tr>
                      <td class="bg-transparent">Notas del cliente</td>
                      <td class="line-placeholder bg-transparent">
                        <div class="form-floating">
                          <textarea class="form-control" style="height: 125px"
                            disabled>{{ informacion_cita.nota_cliente }}</textarea>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Incluye cuerdas</td>
                      <td class="line-placeholder bg-transparent">
                        <div class="form-check">
                          {% if informacion_cita.incluye_cuerdas %}
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked
                            disabled>
                          Sí
                          {% else %}
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled"
                            disabled>
                          No
                          {% endif %}
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Costo total</td>
                      <td class="line-placeholder border-bottom bg-transparent">${{ informacion_cita.costo_total }}
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-transparent">Notas para el cliente</td>
                      <td class="line-placeholder bg-transparent">
                        <div class="form-floating">
                          <textarea class="form-control" style="height: 125px" name="notas_admin" id="notas_admin"
                            placeholder="Escribe una nota..."
                            id="descripcion">{{ informacion_cita.notas_admin }}</textarea>
                          <label for="notas_admin">Ingresa nota...</label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex" style="justify-content: center;">
          <div class="me-2">
            <button class="btn btn-lg w-100 fs-6 botones mb-3" type="submit">Actualizar detalles</button>
          </div>
        </div>
      </div>
    </form>
    <form id="cancelar-cita-form" action="/citas/{{ informacion_cita.id_cita }}/cancelar" {% if not
      comportamiento_cita.es_cancelable %} style="display: none;" {% endif %}>
      <div class="d-flex" style="justify-content: center;">
        <div class="me-2">
          <button class="btn btn-lg w-100 fs-6 btn-delete mb-3" type="submit">Cancelar cita</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  const cancelarCitaForm = document.getElementById('cancelar-cita-form');

  const formularioActualizarDetallesCita = document.getElementById(
    'actualizar-detalles-cita-form'
  );

  const marcaInput = document.getElementById('marca');
  const modeloInput = document.getElementById('modelo');
  const numeroSerieInput = document.getElementById('numero_serie');

  formularioActualizarDetallesCita.addEventListener(
    'submit',
    async function (e) {
      e.preventDefault();

      const formData = new FormData(formularioActualizarDetallesCita);

      const datosActualizadosDetallesCita = {
        ...Object.fromEntries(formData.entries()),
        marca: marcaInput.value,
        modelo: modeloInput.value,
        numero_serie: numeroSerieInput.value,
      };

      console.log(datosActualizadosDetallesCita);

      const url = formularioActualizarDetallesCita.getAttribute('action');

      const { error, mensaje } = await actualizarDetallesCita(
        url,
        datosActualizadosDetallesCita
      );
      if (error) {
        alert(error);
      } else {
        // alert(mensaje);
        // recargar la pagina para ver los cambios como si fuera un formulario normal, aunque tambien se pueden actualizar los campos que cambiaron
        location.reload();
      }
    }
  );

  async function actualizarDetallesCita(url, datosActualizadosDetallesCita) {
    try {
      const response = await fetch(url, {
        method: 'PUT',
        mode: 'cors',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(datosActualizadosDetallesCita),
      });

      const data = await response.json();

      return data;
    } catch (error) {
      console.error('error:', error);
      return {
        error: `Error al actualizar detalles de la cita, ${error.message}`,
        mensaje: null,
      };
    }
  }

  cancelarCitaForm.addEventListener('submit', async (e) => {
    e.preventDefault();
    const confirmacion = confirm('¿Cancelar cita?');
    if (!confirmacion) return;
    const url = cancelarCitaForm.getAttribute('action');
    const { error, mensaje } = await cancelarCita(url);

    if (error) {
      alert(error);
    } else {
      // alert(mensaje);
      location.reload();
    }
  });

  async function cancelarCita(url) {
    try {
      const response = await fetch(url, {
        method: 'PATCH',
        mode: 'cors',
      });

      const data = await response.json();

      return data;
    } catch (error) {
      console.error('error:', error);
      return {
        error: `Error al cancelar cita, ${error.message}`,
        mensaje: null,
      };
    }
  }
</script>
{% endblock %}