{% extends "layout.html" %}
{% block body %}
<div class="header pt-7 margin-top-110">
    <div class="container-xl">
        <div class="container">
            <div class="page_404">
                <div class="row d-flex justify-content-center align-middle">
                    <div id="errordepagina" class="col-sm-10 col-sm-offset-1 text-center">
                        <h1 class="text-center" id="title-error-page">Oops...</h1>
                        <img src="/images/404.webp" alt="404 Page no found" style="width: 400px; height: auto;" class="img-fluid" id="image-error-page">
                        <h3 class="h2" id="description-error">Parece que ha habido un error</h3>
                        <p id="description-error-2">Esta página no está disponible</p>
                        <a href="/" class="btn botones mt-2 rounded-pill" id="link-return">Ve al Inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}