{% extends "layout.html" %}
{% block body %}
<header class="header pt-7 margin-top-110">
    <div class="container-xl">
        <div class="container">
            <div class="page_404">
                <div class="row d-flex justify-content-center align-middle">
                    <div id="errordepagina" class="col-sm-10 col-sm-offset-1 text-center">
                        <h1 class="text-center">Oops...</h1>
                        <img src="/images/404.webp" alt="404 Page no found" style="width: 400px; height: auto;" class="img-fluid">
                        <h3 class="h2">Parece que ha habido un error</h3>
                        <p>Esta página no está disponible</p>
                        <a href="/" class="btn botones mt-2 rounded-pill">Ve al Inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}