{% extends "layoult.html" %}
{% block body %}
<!-- es el tamaño del navbar, se pone el div para no tapar parte del diseño por el navbar -->
    {% block content %}
<div class="margin-top-110">  
    <div class="container-fluid box ">
         <div class="container-sm">            
            <h1 id="titleFAQ" class="mb-4 mt-5"> Preguntas frecuentes  (FAQ)</h1>
            <h3 class="mt-4 mb-4">¿Como agendar un servicio?</h3>
            <p class="lead text-secondary"><small>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </small></p>
            <h3 class="mt-4 mb-4">¿Donde puedo ver el progreso de mi servicio?</h3>
            <p class="lead text-secondary"><small>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </small></p>
            <h3 class="mt-4 mb-4">¿Donde puedo consultar los servicios disponibles?</h3>
            <p class="lead text-secondary"><small>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </small></p>
            <h3 class="mt-4 mb-4">¿pregunta numero 5?</h3>
            <p class="lead text-secondary"><small>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </small></p>
         </div>    
    </div>      
</div>

    {% endblock %}


{% endblock %}