{% extends "layout.html" %}
{% block body %}
<!-- es el tamaño del navbar, se pone el div para no tapar parte del diseño por el navbar -->
{% block content %}
<div class="margin-top-110">
    <div class="container-fluid box">
        <div class="container-sm">
            <h1 id="titleFAQ" class="mb-4"> Preguntas frecuentes (FAQ)</h1>
            <h3 class="mt-4 mb-4">¿Cómo agendar un servicio?</h3>
            <p class="lead text-secondary"><small>
                    Puedes agendar tu calibración en la sección de servicios al hacer click en el botón de "Agendar". Si
                    el servicio no aparece disponible, siempre puedes contactarte con nosotros por WhatsApp al número en
                    nuestra sección de contacto.
                </small></p>
            <h3 class="mt-4 mb-4">¿Cuánto tiempo toma la calibración? </h3>
            <p class="lead text-secondary"><small>
                    El tiempo varía según el estado del instrumento, pero si no tiene ningun problema severo,
                    generalmente toma 3 horas a partir de que se comienza a trabajar en él, el tiempo aumenta si hay que
                    conseguir cuerdas o piezas de recambio.
                </small></p>
            <h3 class="mt-4 mb-4">¿Qué garantías tiene el servicio?</h3>
            <p class="lead text-secondary"><small>
                    El servicio tiene garantía de 14 días a partir de que se te entrega el instrumento, en caso que
                    requieras un ajuste en la altura de las cuerdas, correción en la afinación o detalles que se hayan
                    tratado sobre tu instrumento.
                </small></p>
            <h3 class="mt-4 mb-4">¿Qué sucede cuando llevo mi instrumento a calibrar?</h3>
            <p class="lead text-secondary"><small>
                    El instrumento se revisa al recibirlo y se te dará aviso si se ven señales de algun problema severo
                    (torcedura en el brazo, trastes desnivelados, etc) para advertir la posibilidad de que existan
                    trasteos aun despues de la calibración.
                    Una vez se recibe tu instrumento se realiza el proceso descrito en la sección de servicio para tu
                    instrumento.
                </small></p>
            <h3 class="mt-4 mb-4">¿Hacen reparaciones de guitarras acusticas?</h3>
            <p class="lead text-secondary"><small>
                    Sí hacemos reparaciones pero depende el caso, comunicate por mensaje para poder darte una
                    evaluación. Hacemos reparaciones de puente, cabezal, bridge doctor y otras reparaciones menores. No
                    hacemos retoques de pintura, reparaciones mayores o en la caja de instrumentos acusticos.
                </small></p>
        </div>
    </div>
</div>

{% endblock %}


{% endblock %}