{% extends "layout.html" %}
{% block body %}
<div class="margin-top-90">
    <div class="header-waves">
        <div class="inner-header flex">
            <form action="/hacer_pregunta" method="POST">
                <p class="fs-1 ms-4 mt-5 mb-5 fw-bold text-white" id="titulo">
                    ¿En qué podemos ayudarte?
                </p>
                <div class="input-group" id="form_question" itemid="formulario">
                    <div class="form-floating d-flex flex-row">
                        <textarea class="form-control form-control-lg" placeholder="Escriba su pregunta aquí"
                            name="pregunta" id="hacer_pregunta"></textarea>
                        <label for="floatingTextarea" id="etiqueta-pregunta">Escriba su pregunta aquí</label>
                        <button id="question-button" type="submit" class="btn botones" itemid="btn-preguntar">
                            Preguntar
                        </button>
                    </div>
                </div>
                {% if query.mensaje_confirmacion %}
                <div class="alert alert-info mt-4 ms-5 me-5" id="mensaje-confirmacion" role="alert">
                    {{query.mensaje_confirmacion}} <!-- En caso que la pregunta se haya enviado correctamente -->
                </div>
                {% endif %}
                {% if query.error_pregunta %}
                <div class="alert alert-danger mt-4 ms-5 me-5" id="error-pregunta" role="alert">
                    {{query.error_pregunta}} <!-- En caso que la pregunta este vacia -->
                </div>
                {% endif %}
            </form>

        </div>
        <div id="svg_waves">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
    </div>
    <div class="container-xl mt-5">
        <div class="container">
            {% if not es_admin %}
            {% if preguntas.lenght > 0 %}
            <p class="fs-2 ms-4 mt-5 mb-5 fw-bold text-center letra-principal" id="titulo_preguntas">
                Preguntas de otros usuarios
            </p>
            {% endif %}
            {% for pregunta in preguntas %}
            <div class="container-fluid mt-5" id="vista-cliente">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="media-body ml-3" id="datos-cliente">
                                    {{pregunta.nombre}} {{pregunta.apellidos}}
                                    <div class="text-muted small" id="fecha-pregunta">{{pregunta.fecha_pregunta}}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="fs-5" id="pregunta-del-cliente">
                                    {{pregunta.pregunta}}
                                </p>
                            </div>
                            {% if pregunta.respuesta %}
                            <div
                                class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3 border-bottom">
                                <div class="px-4 pt-3" id="numero-respuestas">
                                    1 Respuesta
                                </div>
                            </div>
                            <div class="card-header">
                                <div class="media-body ml-3" id="datos-respuesta">
                                    Re Sostenido
                                    <i class="fa-solid fa-circle-check fa-xl" style="color: #14a5ff;"></i>
                                    <div class="text-muted small" id="fecha-respuesta">{{pregunta.fecha_pregunta}}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="fs-5" id="respuesta-resostenido">
                                    {{pregunta.respuesta}}
                                </p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% for pregunta in preguntas %}
            <div class="container-fluid mt-5" id="vista-admin">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <form action="/eliminar_pregunta" method="POST">
                                <div class="card-header">
                                    <div class="media-body ml-3" id="datos-cliente">
                                        {{pregunta.nombre}} {{pregunta.apellidos}}
                                        <div class="text-muted small" id="fecha-pregunta">{{pregunta.fecha_pregunta}}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="fs-5" id="pregunta-del-cliente">
                                        {{pregunta.pregunta}}
                                    </p>
                                </div>
                                {% if pregunta.respuesta %}
                                <div
                                    class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3 border-bottom">
                                    <div class="px-4 pt-3" id="numero-respuestas">
                                        1 Respuesta
                                    </div>
                                </div>
                                <div class="card-header">
                                    <div class="media-body ml-3" id="datos-respuesta">
                                        Re Sostenido
                                        <i class="fa-solid fa-circle-check fa-xl" style="color: #14a5ff;"></i>
                                        <div class="text-muted small" id="fecha-respuesta">{{pregunta.fecha_pregunta}}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="fs-5" id="respuesta-resostenido">
                                        {{pregunta.respuesta}}
                                    </p>
                                </div>
                                {% endif %}
                                <div
                                    class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                                    <div class="px-4 pt-3">
                                        <input type="hidden" name="id_pregunta" value={{pregunta.id}}>
                                        <button type="button" class="btn btn-delete" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop_{{pregunta.id}}" id="btn-eliminar-pregunta">
                                            Eliminar pregunta
                                        </button>
                                        <div class="modal fade" id="staticBackdrop_{{pregunta.id}}" data-bs-backdrop="static"
                                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" id="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">¿Estás seguro
                                                            de eliminar la pregunta?
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close" id="btn-close"></button>
                                                    </div>
                                                    <div class="modal-body" id="recordatorio">
                                                        Recuerda que no podrás recuperar la pregunta una vez rechazada.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal" id="btn-cancelar">Cancelar</button>
                                                        <button type="submit" class="btn btn-delete"
                                                            id="btn-aceptar">Aceptar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<script>
    let root = document.documentElement;
    const section1 = document.querySelector('.header')

    window.addEventListener('scroll', () => {
        const y = 1 + (window.scrollY || window.pageYOffset);
        root.style.setProperty('--gradient-percent', y * 4 + "px");
        console.log(y)
    })
</script>

{% endblock %}