{% extends "layoult.html" %}
{% block body %}

<header class="header pt-7 margin-top-110">
    {% if usuario %}
    <div class="container-xl">
        <div class="container">
            <div class="row">
                {% if usuario.es_admin %}
                <p class="fs-1 ms-4 mt-5 fw-bold">
                    Hola, Admin
                </p>
                <div class="col d-flex justify-content-center align-middle">
                    <div class="card mb-5 mt-5 bg-transparent card-style">
                        <div class="card-index rounded-pill">
                            <img src="/images/citas-admin.jpg" class="card-img-top" alt="citas-admin">
                        </div>
                        <a href="#" class="btn color-principal text-light mt-2 rounded-pill">Citas</a>
                    </div>
                </div>
                <div class="col d-flex justify-content-center align-middle">
                    <div class="card mb-5 mt-5 bg-transparent card-style">
                        <div class="card-index rounded-pill">
                            <img src="/images/servicios-admin.jpeg" class="card-img-top" alt="servicios-admin">
                        </div>
                        <a href="#" class="btn color-principal text-light mt-2 rounded-pill">Servicios</a>
                    </div>
                </div>
                {% else %}
                <div class="ms-4">
                    <p class="fs-1 ms-4 mt-5 fw-bold">
                        ¡Hola, {{ usuario.nombre }}!
                    </p>
                </div>
                <div class="col d-flex justify-content-center align-middle">
                    <div class="card mb-5 mt-5 bg-transparent card-style">
                        <div class="card-index rounded-pill">
                            <img src="/images/citas-user.jpg" class="card-img-top" alt="citas-user">
                        </div>
                        <a href="#" class="btn color-principal text-light mt-2 rounded-pill">Mis Citas</a>
                    </div>
                </div>
                <div class="col d-flex justify-content-center align-middle">
                    <div class="card mb-5 mt-5 bg-transparent card-style">
                        <div class="card-index rounded-pill">
                            <img src="/images/servicios-user.jpg" class="card-img-top" alt="servicios-user">
                        </div>
                        <a href="#" class="btn color-principal text-light mt-2 rounded-pill">Servicios Disponibles</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row">
                {% if usuario.es_admin %}
                <div class="col d-flex justify-content-center align-middle">
                    <div class="card mb-5 mt-5 bg-transparent card-style">
                        <div class="card-index rounded-pill">
                            <img src="/images/estadisticas-admin.jpeg" class="card-img-top" alt="estadisticas-admin">
                        </div>
                        <a href="#" class="btn color-principal text-light mt-2 rounded-pill">Estadísticas</a>
                    </div>
                </div>
                {% else %}
                <div class="col d-flex justify-content-center align-middle">
                    <div class="card mb-5 mt-5 bg-transparent card-style">
                        <div class="card-index rounded-pill">
                            <img src="/images/FAQ-user.jpg" class="card-img-top" alt="FAQ-user">
                        </div>
                        <a href="#" class="btn color-principal text-light mt-2 rounded-pill">FAQ</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    {% endif %}

    <div class="container-xl">
        <div class="row">
            <div class="col-md-6">
                <div class="text-container p-4 d-flex flex-column justify-content-center h-100 mb-5">
                    <h1 class="display-6">Nosotros</h1>
                    <p class="lead text-secondary"><small>
                            En Re sostenido, somos apasionados por la música y la excelencia en la artesanía de las
                            guitarras.
                            Nuestra misión es proporsionar a los músicos y amantes de las guitarras una experiencia
                            excepcional al brindar una gama de servicios de calidad para sus instrumentos.
                        </small></p>
                    <h1 class="display-6 mt-2">Nuestra pasión por la música</h1>
                    <p class="lead text-secondary"><small>
                            La música tiene el poder de inspirar, conmover y unir a las personas. Como amantes de la
                            música,
                            entendemos la importancia de tener un instrumento que se sienta como una extensión de ti
                            mismo.
                            Ya sea que seas un profesional de la guitarra o un principiante entusiasta, estamos aquí
                            para
                            ayudarte a cuidar, mantener y optimizar tu instrumento para que puedas expresarte plenamente
                            a
                            través de la música.
                        </small></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-container mb-5 px-4">
                    <svg id="sw-js-blob-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                            <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
                                <stop id="stop1" stop-color="rgba(206.704, 120.566, 30.346, 1)" offset="0%"></stop>
                                <stop id="stop2" stop-color="rgba(204.125, 206.647, 52.624, 1)" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <path fill="url(#sw-gradient)"
                            d="M17.7,-31.3C23.6,-27.3,29.3,-23.8,30.3,-18.6C31.2,-13.5,27.4,-6.8,25.8,-0.9C24.3,5,25,9.9,23.9,14.7C22.8,19.5,19.7,24.1,15.4,29.5C11.1,34.9,5.5,41,-0.6,42.1C-6.8,43.2,-13.6,39.3,-19.4,34.8C-25.1,30.2,-29.7,25,-30.1,19.1C-30.4,13.2,-26.5,6.6,-27.6,-0.6C-28.6,-7.8,-34.7,-15.7,-34.2,-21.3C-33.6,-26.9,-26.5,-30.3,-19.8,-33.8C-13,-37.3,-6.5,-40.9,-0.3,-40.4C5.9,-39.9,11.9,-35.4,17.7,-31.3Z"
                            width="100%" height="100%" transform="translate(50 50)" stroke-width="0"
                            style="transition: all 0.3s ease 0s;"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-xl">
        <div class="row">
            <div class="col-md-6">
                <div class="image-container mb-5 px-4">
                    <svg id="sw-js-blob-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                            <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
                                <stop id="stop1" stop-color="rgba(206.704, 120.566, 30.346, 1)" offset="0%"></stop>
                                <stop id="stop2" stop-color="rgba(204.125, 206.647, 52.624, 1)" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <path fill="url(#sw-gradient)"
                            d="M17.3,-33.8C20.9,-28,21.2,-20.2,24.5,-14.2C27.9,-8.2,34.4,-4.1,35.4,0.6C36.4,5.3,31.9,10.6,27.6,14.8C23.2,19.1,19,22.4,14.4,25.5C9.9,28.5,4.9,31.4,-1.3,33.7C-7.6,36,-15.2,37.8,-19.9,34.8C-24.5,31.7,-26.2,23.9,-30.3,17.3C-34.4,10.7,-40.9,5.4,-40.6,0.2C-40.3,-5,-33.2,-10,-26.8,-12.6C-20.4,-15.2,-14.7,-15.4,-10.3,-20.7C-6,-26,-3,-36.5,2,-39.9C6.9,-43.2,13.8,-39.5,17.3,-33.8Z"
                            width="100%" height="100%" transform="translate(50 50)" stroke-width="0"
                            style="transition: all 0.3s ease 0s;" stroke="url(#sw-gradient)"></path>
                    </svg>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-container p-4 d-flex flex-column justify-content-center h-100 mb-5">
                    <h1 class="display-6">Servicios de Calidad</h1>
                    <p class="lead text-secondary"><small>
                            En Re Sostenido, nos enorgullece ofrecer una amplia gama de servicios que garantizan el
                            rendimiento y la longevidad de tu guitarra.

                            Ofrecemos servicios de reparación, ajuste, personalización y restauración para asegurarnos
                            de que tu instrumento suene y se vea exactamente como deseas.
                        </small></p>
                    <button class="btn btn-outline-secondary text-uppercase">Agendar Cita</button>
                </div>
            </div>
        </div>
    </div>
</header>
<!--
{% if usuario %}
        Hola {{ usuario.nombre }} {{ usuario.apellidos }} 
        {% if usuario.es_admin %}
            Soy admin B)
        {% else %}
            No soy admin
        {% endif %}
    {% else %}
        No estas loggeado
    {% endif %}
-->
{% endblock %}