{% extends "layout.html" %}
{% block body %}

<header class="header pt-7 margin-top-110">
    {% if usuario %}
    <div class="container-xl">
        <div class="container">
            <div class="row">
                {% if usuario.es_admin %}
                <p class="fs-1 ms-4 mt-5 fw-bold">
                    ¡Hola, {{usuario.nombre}}!
                </p>
                <div class="col d-flex justify-content-center align-middle">
                    <div class="card mb-5 mt-5 bg-transparent card-style">
                        <div class="card-index rounded-pill">
                            <img src="/images/citas-admin.webp" class="card-img-top" alt="citas-admin">
                        </div>
                        <a href="/administrar_citas" class="btn botones mt-2 rounded-pill">Citas</a>
                    </div>
                </div>
                <div class="col d-flex justify-content-center align-middle">
                    <div class="card mb-5 mt-5 bg-transparent card-style">
                        <div class="card-index rounded-pill">
                            <img src="/images/servicios-admin.webp" class="card-img-top" alt="servicios-admin">
                        </div>
                        <a href="/administrar_servicios" class="btn botones mt-2 rounded-pill">Administración de servicios</a>
                    </div>
                </div>
                {% else %}
                <div class="ms-4">
                    <p class="fs-1 ms-4 mt-5 fw-bold">
                        ¡Hola, {{ usuario.nombre }}!
                    </p>
                </div>
                <div class="col d-flex justify-content-center align-middle">
                    <div class="card mb-5 mt-5 bg-transparent card-style">
                        <div class="card-index rounded-pill">
                            <img src="/images/citas-user.webp" class="card-img-top" alt="citas-user">
                        </div>
                        <a id="misCitas" href="/citas" class="btn botones mt-2 rounded-pill">Mis Citas</a>
                    </div>
                </div>
                <div class="col d-flex justify-content-center align-middle">
                    <div class="card mb-5 mt-5 bg-transparent card-style">
                        <div class="card-index rounded-pill">
                            <img src="/images/servicios-user.webp" class="card-img-top" alt="servicios-user">
                        </div>
                        <a id="serviciosDisponibles" href="/servicios" class="btn botones mt-2 rounded-pill">Servicios Disponibles</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row">
                {% if usuario.es_admin %}
                <div class="col d-flex justify-content-center align-middle">
                    <div class="card mb-5 mt-5 bg-transparent card-style">
                        <div class="card-index rounded-pill">
                            <img src="/images/estadisticas-admin.webp" class="card-img-top" alt="estadisticas-admin">
                        </div>
                        <a id="estadisticas" href="/estadisticas" class="btn botones mt-2 rounded-pill">Estadísticas</a>
                    </div>
                </div>
                {% else %}
                <div class="col d-flex justify-content-center align-middle">
                    <div class="card mb-5 mt-5 bg-transparent card-style">
                        <div class="card-index rounded-pill">
                            <img src="/images/FAQ-user.webp" class="card-img-top" alt="FAQ-user">
                        </div>
                        <a id="faq" href="/faq" class="btn botones mt-2 rounded-pill">FAQ</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    {% endif %}

    <div class="container-xl">
        <div class="row">
            <div class="col-md-6">
                <div class="text-container p-4 d-flex flex-column justify-content-center h-100 mb-5">
                    <h1 class="display-6">Nosotros</h1>
                    <p class="lead text-secondary"><small>
                            En Re sostenido, somos apasionados por la música y la excelencia en la artesanía de las
                            guitarras.
                            Nuestra misión es proporcionar a los músicos y amantes de las guitarras una experiencia
                            excepcional al brindar una gama de servicios de calidad para sus instrumentos.
                        </small></p>
                    <h1 class="display-6 mt-2">Nuestra pasión por la música</h1>
                    <p class="lead text-secondary"><small>
                            La música tiene el poder de inspirar, conmover y unir a las personas. Como amantes de la
                            música,
                            entendemos la importancia de tener un instrumento que se sienta como una extensión de ti
                            mismo.
                            Ya sea que seas un profesional de la guitarra o un principiante entusiasta, estamos aquí
                            para
                            ayudarte a cuidar, mantener y optimizar tu instrumento para que puedas expresarte plenamente
                            a
                            través de la música.
                        </small></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-container mb-5 px-4">
                    <img src="/images/landingpage-1.webp" alt="" width="100%" height="100%" class="mt-5 rounded">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-xl">
        <div class="row">
            <div class="col-md-6">
                <div class="image-container mb-5 px-4 d-flex justify-content-center align-items-center">
                    <img src="/images/landingpage-2.webp" alt="landingpage-2" width="70%" height="70%" class="rounded">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-container p-4 d-flex flex-column justify-content-center h-100 mb-5">
                    <h1 class="display-6">Servicios de Calidad</h1>
                    <p class="lead text-secondary"><small>
                            En Re Sostenido, nos enorgullece ofrecer una amplia gama de servicios que garantizan el
                            rendimiento y la longevidad de tu guitarra.

                            Ofrecemos servicios de reparación, ajuste, personalización y restauración para asegurarnos
                            de que tu instrumento suene y se vea exactamente como deseas.
                        </small></p>
                    <a href="/citas"><button id="btnagendarcita" class="btn btn-lg w-100 fs-6 botones rounded-pill">Agendar
                            Cita</button></a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}