doctype html 
html(lang='es')
  head 
    title ReSostenido
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale=1)
    link(rel='stylesheet', href='/styles/style.css')
  body 
    h1 Prueba
    p Mensaje 1: #{mensaje1}
    p Mensaje 2: #{mensaje2}
