<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/style2.css" />
  <title>Re Sostenido</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <link href="https://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

</head>
<nav class="navbar navbar-expand-lg fixed-top navbar-light " id="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <div class="d-flex">
        <div class="d-flex align-items-center logo bg-purple">
          <a class="navbar-brand navbar-logo" id="imgLogo" href="/"><img src="/images/logo.webp" alt="Logo" width="70"
              height="70" class="d-inline-block align-text-top" /></a>
        </div>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynav" aria-controls="mynav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="mynav">
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item me-3 half-hover" id="indexNavItem">
            <a class="nav-link" style="display: flex; align-items: flex-start; line-height: 1;" href="/"><i
                class="far fa-address-book pe-2"></i>Inicio</a>
          </li>

          <li class="nav-item me-3 half-hover" id="foroNavItem">
            <a class="nav-link" style="display: flex; align-items: flex-start; line-height: 1;" href="/foro"><i
                class="far fa-comment pe-2"></i>Foro</a>
          </li>

          {% if usuario.es_admin %}
          <li class="nav-item me-3 half-hover" id="AdministrarServiciosNavItem">
            <a class="nav-link" style="display: flex; align-items: flex-start; line-height: 1;"
              href="/administrar_servicios"><i class="fa-solid fa-pencil pe-2"></i>Servicios</a>
          </li>

          <li class="nav-item me-3 half-hover" id="SolicitudesPreguntasNavItem">
            <a class="nav-link" style="display: flex; align-items: flex-start; line-height: 1;"
              href="/solicitudes_preguntas"><i class="far fa-envelope pe-2"></i>Solicitudes de
              preguntas</a>
          </li>

          <li class="nav-item me-3 half-hover" id="EstadisticasNavItem">
            <a class="nav-link" style="display: flex; align-items: flex-start; line-height: 1;" href="/estadisticas"><i
                class="fa-solid fa-chart-line pe-2"></i>Estadísticas</a>
          </li>

          {% else %}
          <li class="nav-item me-3 half-hover" id="serviciosNavItem">
            <a class="nav-link" style="display: flex; align-items: flex-start; line-height: 1;" href="/servicios"><i
                class="fa-solid fa-guitar pe-2"></i>Servicios</a>
          </li>
          {% endif %}

          {% if usuario %} {% if usuario.es_admin %}
          <li class="nav-item me-3 half-hover" id="citasNavItem">
            <a class="nav-link" style="display: flex; align-items: flex-start; line-height: 1;" href="/citas"><i
                class="fa-solid fa-guitar pe-2"></i>Citas</a>
          </li>

          {% else %}
          <li class="nav-item me-3 half-hover" id="citasNavItem">
            <a class="nav-link" style="display: flex; align-items: flex-start; line-height: 1;" href="/citas"><i
                class="fa-solid fa-book pe-2"></i>Mis Citas</a>
          </li>

          {% endif %} {% else %}
          <li class="nav-item me-3 half-hover" id="loginNavItem">
            <a class="nav-link" style="display: flex; align-items: flex-start; line-height: 1;" href="/login"><i
                class="far fa-copy pe-2"></i>Iniciar Sesión</a>
          </li>

          {% endif %}

          {% if usuario %}
          <li class="nav-item me-3 half-hover rounded"
            style="background-color: white; transition: background-color 0.3s;" id="logoutNavItem">
            <a class="nav-link btn" col href="/logout"
              style="display: flex; align-items: flex-start; line-height: 1; color: #0c5e8d;">
              <i class="fa-solid fa-right-from-bracket pe-2"></i>
              Cerrar Sesión
            </a>
          </li>

          {% else %}
          <li class="nav-item me-3 half-hover" id="registerNavItem">
            <a class="nav-link" style="display: flex; align-items: flex-start; line-height: 1;" href="/register"><i
                class="far fa-user pe-2"></i>Registrarse</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
</div>

<body>
  {% block body %}{% endblock %}
  <footer class="p-3 text-center color-principal mt-5 footer">
    <p class="text-center small text-muted mb-3 mt-2">
      <a id="agendarCitas" class="text-light" href="/agendar_cita">Agendar citas</a> |
      <a id="servicios" class="text-light" href="/servicios">Servicios</a> |
      <a id="faq" class="text-light" href="/FAQ">Q&A</a> |
      <a id="iniciarSesion" class="text-light" href="/login">Iniciar Sesión</a> |
      <a id="registrarse" class="text-light" href="/register">Registrarse</a>
    </p>
    <section class="mb-2 pb-0">
      <a class="btn text-white btn-floating m-3" style="background-color: #3b5998;"
        href="https://www.facebook.com/ReSostenidoMods" role="button"><i class="fab fa-facebook-f"></i></a>
      <a class="btn text-white btn-floating m-3" style="background-color: #25D366;"
        href="https://wa.me/526623272793?text=Me%20gustar%C3%ADa%20saber%20m%C3%A1s%20informaci%C3%B3n%20de%20Re%20Sostenido."
        role="button"><i class="fab fa-whatsapp"></i></a>
      <a class="btn text-white btn-floating m-3" style="background-color: #ac2bac;"
        href="https://www.instagram.com/resostenidomods/" role="button"><i class="fab fa-instagram"></i></a>
    </section>
    <p id="copyright" class="text-center small">
    <div class="icon-circle">
      <i class="fa-solid fa-location-dot"></i>
    </div>
    <span class="text-light me-3">San Raymundo #64, Villa Verde, 83118 Hermosillo, Son. </span>
    <div class="icon-circle">
      <i class="fa-solid fa-phone-volume"></i>
    </div>
    <span class="text-light">+ 52 1 662 351 1195</span>
    </p>
    <p id="copyright" class="text-center small text-light">
      Copyright &copy; Re Sostenido 2023
    </p>
  </footer>
  <script src="/js/jquery-1.12.4.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>