{% extends "layout.html" %}
{% block body %}

<div style="margin-top:8rem; "  >
    <h2>{{query.mensaje_confirmacion}}</h2>
    <h2>{{errores.respuesta}}</h2>
{% for pregunta in preguntas %}
    <div style="display:flex;" >
        <form action="/responder_pregunta" method="post">
            <h5> {{pregunta.pregunta}}</h5>
            <input type="hidden" name="id_pregunta" value="{{pregunta.id}}}">
            <input class="form-control" type="text" name="respuesta" id="respuesta_{{pregunta.id}}">
            <button class="btn btn-lg w-100 fs-6 botones rounded-pill" type="submit" >Responder</button>
        
        </form>
        <form action="/rechazar_solicitud_pregunta" method="post">
            <input type="hidden" name="id_pregunta" value="{{pregunta.id}}">
            <button class="btn btn-lg w-100 fs-6 botones rounded-pill" type="submit" >Rechazar</button>
        </form>
    </div>
{% endfor %}
</div>

{% endblock %}