{% extends "layout.html" %}
{% block body %}

<div class="margin-top-110">
    <div class="container-xl mt-5">
        <div class="container">

            {% if not es_admin %}
            <p class="fs-2 ms-4 mt-5 mb-5 fw-bold text-center letra-principal">
                Preguntas de otros usuarios
            </p>
            {% for pregunta in preguntas %}
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="media flex-wrap w-100 align-items-center">
                                    <div class="media-body ml-3 fs-5">
                                        Anónimo
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="fs-5">
                                    {{pregunta.pregunta}}
                                </p>
                                <p class="fs-5">
                                    {{pregunta.respuesta}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% for pregunta in preguntas %}
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <form action="/eliminar_pregunta" method="POST">
                                <div class="card-header">
                                    <div class="media flex-wrap w-100 align-items-center">
                                        <div class="media-body ml-3 fs-5">
                                            Anónimo
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="fs-5">
                                        {{pregunta.pregunta}}
                                    </p>
                                    <p class="fs-5">
                                        {{pregunta.respuesta}}
                                    </p>
                                </div>
                                <div
                                    class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                                    <div class="px-4 pt-3">
                                        <input type="hidden" name="id_pregunta" value={{pregunta.id}}>
                                        <button type="submit" class="btn botones">
                                            Eliminar pregunta
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


<div style="margin-top:8rem; ">
    <h2>{{query.mensaje_confirmacion}}</h2> <!--En caso de que se haya respondido una pregunta-->
    <!--En caso de que suceda este error (muy dificil) no podria atribuirse a ninguna pregunta.-->
    <h2>{{query.error_rechazo}}</h2> <!--En caso de error al rechazar pregunta-->
    
    {% for pregunta in preguntas %}
    <div style="display:flex;">
        <form action="/responder_pregunta" method="post">
            <h5> {{pregunta.pregunta}}</h5>
            <input type="hidden" name="id_pregunta" value="{{pregunta.id}}">
            <input class="form-control" type="text" name="respuesta" id="respuesta_{{pregunta.id}}">
            {% if query.error_id_pregunta == pregunta.id %}
            <h4>{{query.error_respuesta}}</h4> <!--En caso de que no se haya ingresado una respuesta-->
            {% endif %}
            <button class="btn btn-lg w-100 fs-6 botones rounded-pill" type="submit">Responder</button>

        </form>
        <form action="/rechazar_solicitud_pregunta" method="post">
            <input type="hidden" name="id_pregunta" value="{{pregunta.id}}">
            <button class="btn btn-lg w-100 fs-6 botones rounded-pill" type="submit">Rechazar</button>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}