{% extends "layout.html" %} {% block body %}
<div class="margin-top-110">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row p-3 bg-white shadow box-area mt-5">
      <div
        class="col-md-6 rounded-4 d-none d-md-block d-flex justify-content-center align-items-center flex-column left-box">
        <img src="/images/verify_account_img.webp" width="100%" height="100%"
          class="left-box d-flex flex-column" />
      </div>
      <div class="d-flex align-items-center col-md-6 right-box">
        <div class="row align-items-center justify-content-between">
          <div class="header-text mb-4 text-center">
            <h2>
              {{ "Confirmación de cuenta exitosa" if not error else "Confirmación
              fallida"}}
            </h2>
          </div>
          <div id="contenedor" class="row align-items-center justify-content-between text-center">
            <p>{{ mensaje }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if not error %}
<script>
  const elementoMensajeRedireccion = document.createElement('p');
  elementoMensajeRedireccion.textContent = 'Serás redireccionado al login...';
  document.getElementById('contenedor').appendChild(elementoMensajeRedireccion);
  setTimeout(() => {
    window.location.href = `${location.origin}/login`;
  }, 4000);
</script>
{% else %}
<script>
  const enlaceAReenvioToken = document.createElement('a');
  enlaceAReenvioToken.textContent = 'Ir a página de reenvío de token';
  enlaceAReenvioToken.href = `${location.origin}/resend-verification-token`;
  enlaceAReenvioToken.classList.add(
    'btn',
    'btn-lg',
    'btn-light',
    'w-100',
    'fs-6'
  );
  document.getElementById('contenedor').appendChild(enlaceAReenvioToken);
</script>
{% endif %} {% endblock %}