@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #fbfbfb;
}

.box-area {
    width: 930px;
}

.right-box {
    padding: 40px 30px 40px 40px;
}
.box-area-right {
    width: 930px;
}
::placeholder {
    font-size: 16px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}

.color-principal {
    background-color: #034165
}

.letra-principal {
    color: #034165
}

.icons-navbar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.margin-top-110 {
    margin-top: 110px;
}

.margin-top-90 {
    margin-top: 90px;
}

.card-style {
    width: 18rem;
    border: none;
}

.card-index {
    width: 100%;
    height: 150px;

    overflow: hidden;
}

.botones {
    color: #ffffff;
    background-color: #034165;
}

.botones:hover {
    color: #48649a;
    background-color: #ffffff;
    border: 1px solid #034165;
}

.btn-delete {
    color: #ffffff;
    background-color: #034165;
}

.btn-delete:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(189, 39, 39);
}

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Poppins';
}

.page_404 img {
    width: 100%;
}

table.table thead th {
    border-bottom: 2px solid #a8a8a8;
}

.center-content {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vertical-align-middle {
    vertical-align: middle;
}
.vertical-align-bottom {
    vertical-align: bottom;
}

.oval-image {
    max-width: 100%;
    /* Asegura que la imagen no desborde la celda */
    max-height: 100%;
    /* Asegura que la imagen no desborde la celda */
    object-fit: cover;
    /* Ajusta la imagen para llenar la celda */
}

input[type="file"]::file-selector-button {
    background-color: #034165;
    color: #fff;
    border: none;
    padding: 4px 10px;
    border-radius: 16px;
    cursor: pointer;
}

.icon-circle {
    display: inline-block;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}

.icon-circle i {
    color: #034165;
}

:root {
    --prm-color: #034165;
    --prm-gray: #b1b1b1;
    --gradient-percent: 0%;
}

.step-content {
    display: none;
}

.step-content.active {
    display: block;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}

.step-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--prm-gray);
    transition: .4s;
}

.step-button[aria-expanded="true"] {
    width: 60px;
    height: 60px;
    background-color: var(--prm-color);
    color: #fff;
}

.step-disabled {
    background-color: #034165;
    cursor: not-allowed;
    color: #fff;
}

.done {
    background-color: var(--prm-color);
    color: #fff;
}

.step-item {
    z-index: 10;
    text-align: center;
}

#progress {
    -webkit-appearance: none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 10px;
    margin-left: 18px;
    margin-bottom: 18px;
}

/* to customize progress bar */
#progress::-webkit-progress-value {
    background-color: var(--prm-color);
    transition: .5s ease;
}

#progress::-webkit-progress-bar {
    background-color: var(--prm-gray);
}

.header-waves {
    position: relative;
    text-align: center;
    background: linear-gradient(90deg, rgba(0, 49, 84, .8) var(--gradient-percent), rgba(154, 198, 229, 1) 100%);
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

.mt-100 {
    margin-top: 100px
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .625rem;
    height: 3.5rem;
    text-transform: uppercase;
    background-color: #fbfbfb;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125)
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-body p {
    font-size: 13px
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* Aplicar estilo al icono cuando se pasa el mouse sobre el botón */
button:hover i.fa-trash {
    color: #d21717 !important;
    /* Cambia el color al color que desees en hover */
}

.wrapper {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    overflow: hidden;
}

.wave {
    width: 1000px;
    height: 1025px;
    position: absolute;
    top: -25%;
    left: 50%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 15s infinite linear;
}

@keyframes wave {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

/* Estilo inicial del navbar */
#navbar {
    background-color: #034165; /* Color de fondo transparente */
    transition: background-color 0.3s;
  }
  
  /* Estilo del navbar cuando haces scroll hacia abajo */
  #navbar.scrolled {
    background-color: #034165; /* Cambia el color de fondo a rojo */
  }

  #navbar.admin-menu .nav-item {
    width: 20%; /* Divide el espacio en 5 columnas (5 elementos) */
    text-align: center;
  }
  
  /* Estilo adicional para el menú de administrador cuando el usuario es admin */
  #navbar.admin-menu .nav-link {
    padding: 10px 0;
  }
  

nav {
    min-height: 70px;
}

nav .navbar-brand .logo {
    padding: 10px 15px;
    border-radius: 8px;
}

nav .navbar-brand .logo .h2 {
    margin: 0;
}

nav .navbar-brand .h4 {
    margin-bottom: 0px;
    font-weight: 900;
}

nav .navbar-brand .fs-6 {
    font-size: 0.88rem !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(202, 145, 47);
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgb(202, 145, 47);
    
}

.navbar-dark {
    color: #0c5e8d;

}

.navbar-dark :hover {
    color: #be0d0d;
}


nav ul li a .cart {
    padding: 4px 6px;
    border-radius: 6px;
    position: relative;
    display: inline;
}

nav ul li a .cart::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff5252;
    top: -1px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

#sidebar {
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
}

#sidebar .h4 {
    font-weight: 500;
    padding-left: 15px;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding-left: 0rem;
}

#sidebar ul li {
    padding: 10px 0;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 5px solid transparent;
}

#sidebar ul li.active {
    border-left: 5px solid #ff5252;
    background-color: #44007c;
}

#sidebar ul li a {
    display: block;
}

#sidebar ul li a .fas,
#sidebar ul li a .far {
    color: #ddd;
}

#sidebar ul li a .link {
    color: #fff;
    font-weight: 500;
}

#sidebar ul li a .link-desc {
    font-size: 0.8rem;
    color: #ddd;
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content-waves {
        height: 30vh;
    }
}

@media only screen and (max-width: 768px) {
    .box-area {
        margin: 30px 10px;
    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
}